.header-container {
  width: 100%;
  height: 5.5rem;
  background-color: white;
  border-bottom: 1px solid rgba(20, 20, 75, 0.12);
  // font-family: "Nexa";

  .main-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  .logo {
    width: auto;
    cursor: pointer;
    height: auto;
    margin-left: 1rem;

    .logo-image {
      width: 100%;
      height: 100%;
    }
  }

  .links {
    width: 60%;
    height: auto;

    @media (max-width: 998px) {
      width: 50%;
    }

    .links-data {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      align-items: center;
      font-family: "Sora";
      font-size: 1rem;
      font-weight: 600;
      line-height: 0.75rem;
      cursor: pointer;
      color: #14144b;

      @media (max-width: 998px) {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 0.75rem;
      }

      @media (max-width: 768px) {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 0.75rem;
      }

      .icon-button {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      & button {
        color: white;
        border: none;
        border-radius: 0.2rem;
        padding: 0.8rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-weight: 600;
        background: linear-gradient(63.43deg, #990099 16.67%, #0033cc 100%);
        max-width: max-content;
        cursor: pointer;

        &:hover {
          background-color: #f15827;
          color: white;
        }
        @media (max-width: 998px) {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 0.75rem;

          &:hover {
            background-color: #f15827;
            color: white;
          }
        }
        @media (max-width: 768px) {
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 0.75rem;

          &:hover {
            background-color: #f15827;
            color: white;
          }
        }
      }
    }
  }
}
