.btn-wrapper {
  width: auto;

  .btn-container {
    width: max-content;
    border: none;
    background: linear-gradient(
      63.43deg,
      rgba(153, 0, 153, 0.08) 16.67%,
      #0033cc14 100%
    );
    cursor: pointer;
    color: #990099;
    gap: 8px;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    height: 2.3rem;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
}
