.footer-wrapper {
  width: 100%;
  margin-top: 6rem;
  height: 100%;
  background: linear-gradient(
    77.99deg,
    #1a2235 16.09%,
    #1a1d3a 55.24%,
    #231a36 72.35%,
    #172944 93.07%
  );

  .footer-container {
    padding-top: 3rem;
    padding-left: 8rem;
    width: auto;
    height: 42vh;

    .content-footer {
      display: flex;
      margin-top: 2rem;
      width: 100%;
      gap: 10rem;
      height: 40vh;

      .left-footer-content {
        width: 46%;
        margin-left: 0.2rem;

        .heading {
          color: #61657a;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }
        .content {
          color: #9b9b9b;
          font-weight: 600;
          margin-top: 1.5rem;
          font-size: 14px;
          line-height: 21px;
        }
      }

      .right-footer-content {
        width: 40%;

        .heading {
          margin-top: -1.5rem;
          color: #61657a;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }

        .email-wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 1rem;

          .email {
            padding: 1rem;
            width: 35%;
            color: white;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(232, 232, 232, 0.14);

            &::placeholder {
              /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: #ffffff;
              font-weight: 400;
              font-size: 16px;
              opacity: 1; /* Firefox */
            }
          }

          .subscribe {
            padding: 0.95rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            color: white;
            font-weight: 600;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            background: linear-gradient(
              87.95deg,
              #7b4ff1 -21.75%,
              #3779f9 98.27%
            );
          }
        }

        .contact {
          margin-top: 2.5rem;
          display: flex;
          gap: 10px;

          .heading {
            margin-top: -1.5rem;
            color: #61657a;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;

            .info {
              color: #a6a6a6;
              margin-left: 0.3rem;
            }
          }
        }
      }
    }
  }

  .second-footer-container {
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    width: 100%;
    height: auto;

    .second-footer-content {
      justify-content: center;
      align-items: center;

      .heading {
        margin-top: 3rem;
        width: auto;
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 700;
        font-size: 24px;
      }
    }
  }
  .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    width: 80%;
    height: auto;
    padding-bottom: 1.5rem;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    margin: auto;

    .copyright-label {
      font-size: 12px;
      margin-top: 1.5rem;
      font-weight: 300;
      color: #949ab9;
    }
    .copyright-colored {
      font-size: 12px;
      font-weight: 300;
      color: white;
      text-decoration: underline;
      margin-left: 0.2rem;
    }

    .social-icon {
      margin-top: 1rem;
      display: flex;
      gap: 10px;
      .icon {
        width: 32px;
        height: 32px;
      }
    }
  }
}
